
# Blockchain Configuration
INFURA_API_KEY=b905d8679b4f4cabb5b68a03ddb9e863
PRIVATE_KEY=your_private_key_here

# Wallet Address (for deployment)
WALLET_ADDRESS=4692CF890ceA7EBD2B857F9D9322AAEDDe3369bB

# IPFS Configuration (if needed)
IPFS_PROJECT_ID=your_ipfs_project_id_here
IPFS_PROJECT_SECRET=your_ipfs_project_secret_here
